section.pagePrice
    .page__img
        img(src="assets/img/price-banner.png", alt="")
    .wrapper
        p.page__text_else Возможные поломки ноутбука
        .pagePrice-wrapper
            .left
                .row
                    p.page__text_sm Не включается
                    p.page__text_b-m 450 Р
            .right