section.pageDelivery
    //- .page__img
    //-     img(src="assets/img/delivery-banner.png", alt="")
    .bg-delivery
        .wrapper
            .delivery-item
                p.page__text_30 Бесплатная доставка в сервисный центр
                p.page__text_more Не стойте в пробках, не тратьте свое время. Доставка из любого места в сервис и обратно бесплатно
    .wrapper
        .text
            p.page__text_else Доставка
            p.page__text_else-m Бесплатная доставка в ремонт и обратная доставка после ремонта. Срочный выезд курьера — 1 час
        .pageDelivery-wrapper
            .row
                .pageDelivery-item
                    p.page__text_30 Бесплатная доставка в сервисный центр
                    p.page__text_more Удобство клиента играет для нас первостепенную роль, мы знаем как драгоценно ваше время. В удобное для вас время и место мы отправим курьера и бесплатно доставим ваш ноутбук на ремонт в сервисный центр.
                .pageDelivery-item
                    p.page__text_30 Бережное отношение к вашей технике
                    p.page__text_more При доставке ноутбуков мы используем специальные рюкзаки, которые обеспечивают отличную защиту от любого рода повреждений. В сервисном центре наклеиваем защитную пленку на экраны, которая исключает появление потертостей и царапин.
            .pageDelivery-big-item
                p.page__text_30 Полный комплект документов
                p.page__text_more При приеме оборудования мы заполняем специальный бланк заказа, в котором указываем краткую информацию об оборудовании, его комплектации, внешнем виде,а также фиксируем все внешние недостатки и гарантируем бережное отношение.