extends ../templates/template
block base
    base(href='../')
block title
    title Доставка
block append style
block content
    include ../blocks/header
    main.page
        include content
    include ../blocks/callback
    include ../blocks/footer
block append script
    script(src='js/main.js')