section.pageContacts
    .page__img
        img(src="assets/img/pageContacts.png", alt="")
    p.page__text_else Контакты
    .wrapper
        .pageContacts-wrapper
            .left-contacts
                .text
                    p.page__text_30 Телефон
                    div
                        a(href="tel: +7 (495) 021-99-44").page__text_more +7 (495) 021-99-44
                    p.page__text_30 Работаем
                    p.page__text_more ПН-ПТ с 09:00  по 21:00 | СБ-ВС с 10:00  ло 20:00
                    p.page__text_30 Адрес
                    p.page__text_more Костромская область, город Ступино, пр. Чехова, 82
                    p.page__text_30 Соц. сети
                    a(href="#").page__text_more.underline <span> Вконтакте
            .right-contacts
                .page__img
                    img(src="assets/img/map.png", alt="")