.banner{

  z-index: 20;
  position: relative;
    

  .slider-banner {
    background: transparent;
    position: relative;
    z-index: 100;

    .item-banner {

      .item-wrapper-banner {
        display: flex;

        .page__img {
          position: relative;
        }

        .item-item-banner {

          position: absolute;

          .bg {

            background-color: #fff;
            opacity: .7;
            padding: 30px 67px 51px;
            max-width: 430px;
            border-radius: 10px;
            position: relative;
            top: 150px;
            left: 359px;
            // height: 194px;

            .page__text_30 {
              margin-bottom: 20px;

            }

            .page__text_more {

              margin-bottom: 10px;
            }
            
          }

          .row-two {

            display: flex;
            align-items: flex-start;

            .page__text_vsm {

              margin-right: 5px;
            }

            .page__img {
              // width: 10px;
              // height: 10px;

              img {

                width: 10px;
                height: 10px;
              }
            }
          }
        }

      }
    }

    
    .slick-list {
        overflow: hidden;
    }
    .slick-track{
        display: flex;
    }
    .slick-arrow{
      display: flex;
      z-index: 200;
        
    }

    .slick-dots li {
        list-style: none;
        
    }

    .slick-dots {
      display: flex;
      align-items: center;
      justify-content: center;
      list-style: none;
      
      position: absolute;
      top: 20px;
    }

    .slick-dots li button {
      position: absolute;
      
      z-index: 4900;
      height: 7px;
      width: 10px;
      font-size: 0;
      border-radius: 50%;
      border: transparent;
      margin: 0 40px;
      background-color: #fff;  
      background-color: #000;
      // top: 30px;
      bottom: 0;
      left: 50%;
  }

    .slick-dots li.slick-active button {
      background-color: red;
    }

  .page__img {
    overflow: hidden;
    img {
      width: 100%;
      transition: 10s ease;

      .xs-block({
        
        display: none;
      });
    }
  }
}
#nextArrow {
  width: 30px;
  height: 30px;
  position: absolute;
  // background-color: #000;
  top: 400px;
  // left: 20px;
  // transform: rotate(180deg);
  right: 52px;
  z-index: 100;

  .desktop-block({
    top: 200px;
  });
  
}

#prevArrow {
  width: 30px;
  height: 30px;
  position: absolute;
  // background-color: #000;
  left: 52px;
  top: 400px;
  z-index: 100;

  .desktop-block({
    top: 200px;
  });
}
   
}