.banner{

  z-index: 20;
  position: relative;
  min-width: 0;

  .slider-banner-mob {

    display: none;

    .sm-block({
      display: block;
    });
    
      background: transparent;
      position: relative;
      z-index: 100;
  
      // .sm-block({
      //   display: none;
        
      // });
  
      min-width: 0;
  
      // .sm-block({
      //   height: 300px;
      // });
  
      .item-banner {
        min-width: 0;
  
        .item-wrapper-banner {
          display: flex;
          // min-width: 300px;
          min-width: 0;
  
          .page__img {
            position: relative;
          }
  
          .item-item-banner {
  
            position: absolute;
            
  
            .bg {
  
              background-color: #fff;
              opacity: .7;
              padding: 30px 67px 51px;
              max-width: 430px;
              border-radius: 10px;
              position: relative;
              top: 150px;
              left: 359px;
              min-width: 0;
              // height: 194px;
  
              .laptopMini-block({
                top: 70px;
                left: 219px;
              });
  
              .ipad-block ({
                top: 40px;
              });
  
              .md-block({
                top: 25px;
                left: 150px;
                padding: 30px 67px 11px;
              });
  
              
  
              .page__text_30 {
                margin-bottom: 20px;
  
              }
  
              .page__text_more {
  
                margin-bottom: 10px;
              }
              
            }
  
            .row-two {
  
              display: flex;
              align-items: flex-start;
              min-width: 0;
  
              .page__text_vsm {
  
                margin-right: 5px;
              }
  
              .page__img {
                // width: 10px;
                // height: 10px;
  
                img {
  
                  // width: 10px;
                  // height: 10px;
                }
              }
            }
          }
  
        }
      }
  
      
      .slick-list {
          overflow: hidden;
          min-width: 0;
      }
      .slick-track{
          display: flex;
          min-width: 0;
      }
      .slick-arrow{
        display: flex;
        z-index: 200;
        min-width: 0;
          
      }
  
      .slick-dots li {
          list-style: none;
          
      }
  
      .slick-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        min-width: 0;
        
        position: absolute;
        top: 20px;
      }
  
      .slick-dots li button {
        position: absolute;
        
        z-index: 4900;
        height: 7px;
        width: 10px;
        font-size: 0;
        border-radius: 50%;
        border: transparent;
        margin: 0 40px;
        background-color: #fff;  
        background-color: #000;
        // top: 30px;
        bottom: 0;
        left: 50%;
    }
  
      .slick-dots li.slick-active button {
        background-color: red;
      }
  
    .page__img {
      overflow: hidden;
      width: 100%;
      // .sm-block({
      //   display: none;
        
      // });
      img {
        width: 100%;
        // height: 300px;
        transition: 10s ease;
  
        
      }
    }
    
  }
    

  .slider-banner {
    background: transparent;
    position: relative;
    z-index: 100;

    .sm-block({
      display: none;
      
    });

    min-width: 0;

    // .sm-block({
    //   height: 300px;
    // });

    .item-banner {
      min-width: 0;

      .item-wrapper-banner {
        display: flex;
        // min-width: 300px;
        min-width: 0;

        .page__img {
          position: relative;
        }

        .item-item-banner {

          position: absolute;
          

          .bg {

            background-color: #fff;
            opacity: .7;
            padding: 30px 67px 51px;
            max-width: 430px;
            border-radius: 10px;
            position: relative;
            top: 150px;
            left: 359px;
            min-width: 0;
            // height: 194px;

            .laptopMini-block({
              top: 70px;
              left: 219px;
            });

            .ipad-block ({
              top: 40px;
            });

            .md-block({
              top: 25px;
              left: 150px;
              padding: 30px 67px 11px;
            });

            

            .page__text_30 {
              margin-bottom: 20px;

            }

            .page__text_more {

              margin-bottom: 10px;
            }
            
          }

          .row-two {

            display: flex;
            align-items: flex-start;
            min-width: 0;

            .page__text_vsm {

              margin-right: 5px;
            }

            .page__img {
              width: 10px;
              // height: 10px;

              img {

                // width: 10px;
                height: 10px;
              }
            }
          }
        }

      }
    }

    
    .slick-list {
        overflow: hidden;
        min-width: 0;
    }
    .slick-track{
        display: flex;
        min-width: 0;
    }
    .slick-arrow{
      display: flex;
      z-index: 200;
      min-width: 0;
        
    }

    .slick-dots li {
        list-style: none;
        
    }

    .slick-dots {
      display: flex;
      align-items: center;
      justify-content: center;
      list-style: none;
      min-width: 0;
      
      position: absolute;
      top: 20px;
    }

    .slick-dots li button {
      position: absolute;
      
      z-index: 4900;
      height: 7px;
      width: 10px;
      font-size: 0;
      border-radius: 50%;
      border: transparent;
      margin: 0 40px;
      background-color: #fff;  
      background-color: #000;
      // top: 30px;
      bottom: 0;
      left: 50%;
  }

    .slick-dots li.slick-active button {
      background-color: red;
    }

  .page__img {
    overflow: hidden;
    width: 100%;
    .sm-block({
      display: none;
      
    });
    img {
      width: 100%;
      // height: 300px;
      transition: 10s ease;

      
    }
  }
}
#nextArrow {
  width: 30px;
  height: 30px;
  position: absolute;
  // background-color: #000;
  top: 400px;
  // left: 20px;
  // transform: rotate(180deg);
  right: 52px;
  z-index: 100;

  z-index: 2000;

  .desktop-block({
    top: 200px;
  });


  .ipad-block ({
    top: 80px;
  });

  .sm-block({
    display: none!important;
  });
  
}

#prevArrow {
  width: 30px;
  height: 30px;
  position: absolute;
  // background-color: #000;
  left: 52px;
  top: 400px;
  z-index: 2000;

  .desktop-block({
    top: 200px;
  });

  .ipad-block ({
    top: 80px;
  });

  .sm-block({
    display: none!important;
  });
}
   
}

#nextArrow-2 {
  width: 30px;
  height: 30px;
  position: absolute;
  // background-color: #000;
  top: 170px;
  // left: 20px;
  // transform: rotate(180deg);
  right: 22px;
  z-index: 100;

  // display: none;

  .sm-block({
    display: block;
  });

  // .desktop-block({
  //   top: 200px;
  // });


  // .ipad-block ({
  //   top: 80px;
  // });
  
}

#prevArrow-2 {
  width: 30px;
  height: 30px;
  position: absolute;
  // background-color: #000;
  left: 22px;
  top: 170px;
  z-index: 100;

  // display: none;

  // .sm-block({
  //   display: block;
  // });

  // .desktop-block({
  //   top: 200px;
  // });

  // .ipad-block ({
  //   top: 80px;
  // });
}