.choose-device {

    padding-bottom: 50px;

    .page__text_else {

        margin: 0 auto;
        text-align: center;
        max-width: 394px;
        margin-top: 100px;
        margin-bottom: 50px;

    }

    &-wrapper {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .item-wrapper {

            display: flex;
        }

        .item {

            position: relative;
            width: 590px;
            z-index: 10;

            .page__text_more {
                position: relative;
                text-align: center;
                margin: 25px 50px;
            }

            .page__img {
                
                position: relative;
                // z-index: 10;

                img {

                    position: relative;
                    .hover {
                        position: absolute;
                    }

                }

                
            }
            
        }


        .hover {

            position: absolute;
            z-index: 100;
            display: flex;
            justify-content: center;
            align-items: center;
            // top: 500px;
            height: 505px;
            width: 590px;
            margin: 0 auto;
            // visibility: hidden;
            transition: .3s ease;
            opacity: 0;
            background-color: #384146;

            

            .page__text_more {

                color: #fff;
                margin: 0 auto;
                max-width: 355px;
            }
        }


        .item-wrapper:hover {

            .hover {

                // visibility: visible;
                
                opacity: .8;
                transition: .3s ease;
            }
            
        }
    }
}