.footer {

    background-color:#3F3F3F;
    padding: 62px 0 62px 0;

    .sm-block({
        padding: 32px 0 32px 0;
    });

    &-wrapper {
        display: flex;
        justify-content: space-between;

        .sm-block({
            flex-direction: column;
            align-items: center
        });

        .left {
            display: flex;
            flex-direction: column;
            align-items: top;

            .logo {
                display: flex;
                align-items: center;
                margin-bottom: 50px;
            }

           

            .sm-block({
                display: none;
            });

            .page__text_vsm {

                color: #fff;
                max-width: 181px;
                margin-left: 30px;
            }

            .underline {
                text-decoration: underline;
                margin-left: 0;
                font-size: 11px;
                margin-bottom: 20px;
            }

            .grey {
                margin-left: 0;
                font-size: 11px;
                line-height: 11px;
                color: #989898;
            }
        }

        .mid {

            .sm-block({
                margin-bottom: 30px;
            });

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .page__text_sm_footer {

                margin-bottom: 30px;
            }

            .link {
                margin: 10px 0 10px 0;
            }

            .page__text_else-m {

                margin-bottom: 10px;
            }

            .page__text_vsm {
                color: #fff;

                .sm-block({
                    margin-top: 10px;
                });
            }
        }

        .right {

            .mb20 {
                margin-bottom: 20px;
            }

            .mb40 {
                margin-bottom: 40px;
            }

            .mt40 {
                margin-top: 40px;
            }

            .col {
                display: flex;
                flex-direction: column;
            }

            .mt5 {
                margin-top: 5px;
            }

            

            .sm-block({
                margin-top: 14px;
            });

            .page__text_else-m {
                .sm-block({
                    text-align: center;
                    margin: 0 auto;
                });

            }

            

            a {
                // border-bottom: 1px solid #fff;
            }
        }

        a {
            text-decoration: none;
            
        }

        
    }
}