.page{
    

    &__text {
        font-family: "@{Inter}-Regular";
        font-size: 18px;
        line-height: 23px;
        color: #3f3f3f;

        &_sm {
            font-family: "@{Inter}-Light";
            font-size: 16px;
            line-height: 23px;
            text-transform: uppercase;
            color: #fff;

        }

        &_more {
            font-family: "@{Inter}-Regular";
            font-size: 18px;
            line-height: 23px;
            color: #3f3f3f;

        }

    }

    &__title {


    }


}