section.pagePrice
    .page__img
        img(src="assets/img/pagePriceMonoblok.png", alt="")
    .mob
        .bg
            .bg-inner
                p.page__text_23 Как вам удобно
                p.page__text_15 Настройка и ремонт ноутбуков у вас дома, в офисе или в нашем сервисном центре.
    .wrapper
        p.page__text_else Возможные поломки моноблоков
        .pagePrice-wrapper
            .left
                .row
                    p.page__text_sm Не включается
                    p.page__text_b-m 450 Р
                .row
                    p.page__text_sm Замена матрицы
                    p.page__text_b-m 290 Р
                .row
                    p.page__text_sm Не загружается
                    p.page__text_b-m 580 Р
                .row
                    p.page__text_sm Замена кнопок
                    p.page__text_b-m 650 руб
                .row
                    p.page__text_sm Выдает ошибку
                    p.page__text_b-m 550 руб
                .row
                    p.page__text_sm Замена блока питания
                    p.page__text_b-m 890 руб
                .row
                    p.page__text_sm Замена клавиатуры
                    p.page__text_b-m 350 Р
                .row
                    p.page__text_sm Замена порта (usb, hdmi, lan)
                    p.page__text_b-m 780 Р
                .row
                    p.page__text_sm Установка ос
                    p.page__text_b-m 390 Р
                .row
                    p.page__text_sm Замена северного моста
                    p.page__text_b-m 950 Р
                .row
                    p.page__text_sm Замена южного моста
                    p.page__text_b-m 870 Р
                .row
                    p.page__text_sm Замена лампы подсветки
                    p.page__text_b-m 450 Р
                .row
                    p.page__text_sm Замена контроллера
                    p.page__text_b-m 750 Р
                .row
                    p.page__text_sm Не заряжается
                    p.page__text_b-m 550 Р
                .row
                    p.page__text_sm Замена аккумулятора
                    p.page__text_b-m 190 Р
                .row
                    p.page__text_sm Другие неисправности
                    p.page__text_b-m от 350 Р
            .right
                .row
                    p.page__text_sm Нет wi-fi
                    p.page__text_b-m 580 Р
                .row
                    p.page__text_sm Замена жёсткого диска/ssd
                    p.page__text_b-m 350 Р
                .row
                    p.page__text_sm Перегревается
                    p.page__text_b-m 880 Р
                .row
                    p.page__text_sm Замена термопасты
                    p.page__text_b-m 580 Р
                .row
                    p.page__text_sm Тормозит
                    p.page__text_b-m 860 Р
                .row
                    p.page__text_sm Настройка и оптимизация
                    p.page__text_b-m 740 Р
                .row
                    p.page__text_sm После залития
                    p.page__text_b-m 850 Р
                .row
                    p.page__text_sm Замена разъема питания
                    p.page__text_b-m 440 Р
                .row
                    p.page__text_sm Замена лампы подсветки
                    p.page__text_b-m 450 Р
                .row
                    p.page__text_sm Корпусной ремонт
                    p.page__text_b-m 1150 Р
                .row
                    p.page__text_sm Ремонт блока питания
                    p.page__text_b-m 990 Р
                .row
                    p.page__text_sm Ремонт системы охлаждений
                    p.page__text_b-m 820 Р
                .row
                    p.page__text_sm Нет звука
                    p.page__text_b-m 580 Р