section.pageGuarantee
    .mob
        .page__img
            img(src="assets/img/guarantee-mob.png", alt="")
        p.page__text_else Гарантия
        .wrapper
            .delivery-mob-wrapper
                .delivery-mob-item
                    p.page__text_30 12 месяцев надежной гарантии
                    p.page__text_more Вы можете быть уверены в качестве предоставленных услуг. Все услуги, установленное программное обеспечение и запчасти обеспечиваются надежной гарантией от полутора лет. Срок гарантии зависит от типа оказанных услуг. 
                .delivery-mob-item
                    p.page__text_30 Гарантия на все услуги и запчасти
                    p.page__text_more Мы даем надежную гарантию на все выполненные работы (как на работы с аппаратной частью ноутбука, так и на работы с программной частью). На запчасти и программное обеспечение распространяется гарантия производителя.
                .delivery-mob-item
                    p.page__text_30 Срочное решение гарантийных случаев
                    p.page__text_more Если возникнет гарантийный случай или вы окажетесь недовольны качеством выполенных работ, позвоните нам и сообщите номер договора, мы приедем и совершенно бесплатно устраним неисправность.
    .bg-delivery
        .wrapper
            .guarantee-item
                p.page__text_30 Гарантируем!
                p.page__text_more Вместе с отремонтированным устройством, мы вам еще и гарантию на 12 месяцев вручим
                .row-two
                    a.page__text_vsm Подробнее
                    .page__img
                        img(src="assets/img/arrow-more.svg", alt="")
    .wrapper
        .text
            p.page__text_else Гарантия
            p.page__text_else-m На все оказанные услуги и установленные запчасти распространяется надежная гарантия от 12 месяцев
        .pageDelivery-wrapper
            .row
                .pageDelivery-item
                    p.page__text_30 12 месяцев надежной гарантии
                    p.page__text_more Вы можете быть уверены в качестве предоставленных услуг. Все услуги, установленное программное обеспечение и запчасти обеспечиваются надежной гарантией от полутора лет. Срок гарантии зависит от типа оказанных услуг.
                .pageDelivery-item
                    p.page__text_30 Гарантия на все услуги и запчасти
                    p.page__text_more Мы даем надежную гарантию на все выполненные работы (как на работы с аппаратной частью ноутбука, так и на работы с программной частью). На запчасти и программное обеспечение распространяется гарантия производителя.
            .pageDelivery-big-item
                p.page__text_30 Срочное решение гарантийных случаев
                p.page__text_more Если возникнет гарантийный случай или вы окажетесь недовольны качеством выполенных работ, просто позвоните нам и сообщите номер договора, мы приедем и совершенно бесплатно устраним неисправность.