extends ../templates/template
block base
    base(href='../')
block title
    title Гарантия
block append style
block content
    include ../blocks/header
    main.page
        include content
    include ../blocks/callback
    include ../blocks/footer
    include ../blocks/modal
    include ../blocks/modal-2
block append script
    script(src='js/main.js')