section.banner
    .slider-banner
        .page__img
            img(src="assets/img/banner-slide-1.png", alt="")
        .page__img
            img(src="assets/img/slide-2.png", alt="")
    .prevArrow#prevArrow
        img(src="assets/img/arrow-left-slider.svg")
    .nextArrow#nextArrow
        img(src="assets/img/arrow-right-slider.svg")