section.banner
    .slider-banner
        .item-banner
            .item-wrapper-banner
                .page__img
                    img(src="assets/img/banner-slider-1.png", alt="")
                .item-item-banner
                    .bg
                        p.page__text_30 Ремонт HP
                        p.page__text_more Закончить все дела в срок вы успеете, ведь с большинством неисправностей мы разберемся всего за день.
                    //- .row-two
                    //-     a.page__text_vsm Подробнее
                    //-     .page__img
                    //-         img(src="assets/img/arrow-more.svg", alt="")
        .item-banner
            .item-wrapper-banner
                .page__img
                    img(src="assets/img/banner-slider-2-2.png", alt="")
                .item-item-banner
                    .bg
                        p.page__text_30 Выезжаем!
                        p.page__text_more Да, да, не нужно никуда ехать, мы сами приедем. Домой, в офис, в кафе? Без проблем! А все потому, что мы ценим и бережем ваше время.
                        .row-two
                            a.page__text_vsm Подробнее
                            .page__img
                                img(src="assets/img/arrow-more.svg", alt="")
        .item-banner
            .item-wrapper-banner
                .page__img
                    img(src="assets/img/3-3.png", alt="")
                .item-item-banner
                    .bg
                        p.page__text_30 Ремонтируем!
                        p.page__text_more К вашей технике допускаются только профессионалы и оригинальные запчасти. И то, и то есть в наличии
                    //- .row-two
                    //-     a.page__text_vsm Подробнее
                    //-     .page__img
                    //-         img(src="assets/img/arrow-more.svg", alt="")
        .item-banner
            .item-wrapper-banner
                .page__img
                    img(src="assets/img/banner-slider-2-2.png", alt="")
                .item-item-banner
                    .bg
                        p.page__text_30 Гарантируем!
                        p.page__text_more Вместе с отремонтированным устройством, мы вам еще и гарантию на 12 месяцев вручим 
                        .row-two
                            a.page__text_vsm Подробнее
                            .page__img
                                img(src="assets/img/arrow-more.svg", alt="")
    .prevArrow#prevArrow
        img(src="assets/img/arrow-left-slider.svg")
    .nextArrow#nextArrow
        img(src="assets/img/arrow-right-slider.svg")