section.choose-device
    .wrapper
        p.page__text_else Выберите тип вашего устройства
        .choose-device-wrapper
            .item-wrapper
                .item
                    .page__img
                        img(src="assets/img/device-1.png", alt="")
                    p.page__text_more Ремонт Ноутбуков
                .hover
                    p.page__text_more Настройка и ремонт ноутбуков у вас дома, в офисе или  в нашем сервисном центре.
            .item-wrapper
                .item
                    .page__img
                        img(src="assets/img/device-2.png", alt="")
                    p.page__text_more Ремонт Ноутбуков
                .hover
                    p.page__text_more текст ховер
            .item-wrapper
                .item
                    .page__img
                        img(src="assets/img/device-3.png", alt="")
                    p.page__text_more Ремонт Ноутбуков
                .hover
                    p.page__text_more текст ховер
            .item-wrapper
                .item
                    .page__img
                        img(src="assets/img/device-4.png", alt="")
                    p.page__text_more Ремонт Ноутбуков
                .hover
                    p.page__text_more текст ховер
            
                