section.choose-device
    .wrapper
        .choose-device-wrapper
            .item-wrapper
                .item
                    .page__img
                        img(src="assets/img/device-1.png", alt="")
                    p.page__text_more Ремонт Ноутбуков
                .hover
                    p.page__text_more текст ховер
            .item-wrapper
                .item
                    .page__img
                        img(src="assets/img/device-1.png", alt="")
                    p.page__text_more Ремонт Ноутбуков
                .hover
                    p.page__text_more текст ховер
            .item-wrapper
                .item
                    .page__img
                        img(src="assets/img/device-1.png", alt="")
                    p.page__text_more Ремонт Ноутбуков
                .hover
                    p.page__text_more текст ховер
            .item-wrapper
                .item
                    .page__img
                        img(src="assets/img/device-1.png", alt="")
                    p.page__text_more Ремонт Ноутбуков
                .hover
                    p.page__text_more текст ховер
            
                