section.choose-device
    .wrapper
        p.page__text_else Выберите тип вашего устройства
        .choose-device-wrapper
            .item-wrapper
                .item
                    a(href="pagePrice/pagePrice.html")
                        .page__img
                            img(src="assets/img/device-1.png", alt="")
                    p.page__text_more Ремонт Ноутбуков
                .hover
                    a(href="pagePrice/pagePrice.html")
                        p.page__text_more Настройка и ремонт ноутбуков у вас дома, в офисе или  в нашем сервисном центре.
            .item-wrapper
                .item
                    a(href="pagePriceMonitor/pagePriceMonitor.html")
                        .page__img
                            img(src="assets/img/device-2.png", alt="")
                    p.page__text_more Ремонт Мониторов
                .hover
                    a(href="pagePriceMonitor/pagePriceMonitor.html")
                        p.page__text_more Настройка и ремонт мониторов у вас дома, в офисе или  в нашем сервисном центре.
            .item-wrapper
                .item
                    a(href="pagePk/pagePk.html")
                        .page__img
                            img(src="assets/img/device-3.png", alt="")
                    p.page__text_more Ремонт ПК
                .hover
                    a(href="pagePk/pagePk.html")
                        p.page__text_more Настройка и ремонт ПК у вас дома, в офисе или  в нашем сервисном центре.
            .item-wrapper
                .item
                    a(href="pagePriceMonoblok/pagePriceMonoblok.html")
                        .page__img
                            img(src="assets/img/device-4.png", alt="")
                    p.page__text_more Ремонт Моноблоков
                a(href="pagePriceMonoblok/pagePriceMonoblok.html")
                    .hover
                        a(href="pagePrice/pagePrice.html")
                            p.page__text_more Настройка и ремонт моноблоков у вас дома, в офисе или  в нашем сервисном центре.
            
                