footer.footer
    .wrapper
        .footer-wrapper
            .left
                .logo
                    a(href="../")
                        .page__img
                            img(src="assets/img/logo-2.svg", alt="")
                    p.page__text_vsm Сертифицированный сервисный центр Москва
                a(href="").underline.page__text_vsm Политика конфиденциальности
                a(href="").grey.page__text_vsm Сервисный центр HP 2012-2021 © Все права защищены
            .mid
                p.page__text_sm_footer Услуги и цены
                a(href="pagePrice/pagePrice.html").page__text_vsm_footer.link Ремонт ноутбуков
                a(href="pagePriceMonitor/pagePriceMonitor.html").page__text_vsm_footer.link Ремонт мониторов
                a(href="pagePk/pagePk.html").page__text_vsm_footer.link Ремонт ПК
                a(href="pagePriceMonoblok/pagePriceMonoblok.html").page__text_vsm_footer.link Ремонт моноблоков
            .mid
                p.page__text_sm_footer О сервисе
                a(href="pageGuarantee/pageGuarantee.html").page__text_vsm_footer.link Гарантия
                a(href="pageAbout/pageAbout.html").page__text_vsm_footer.link О нас
                a(href="pageContacts/pageContacts.html").page__text_vsm_footer.link Контакты
                a(href="pageDelivery/pageDelivery.html").page__text_vsm_footer.link Доставка
            .right
                p.page__text_sm_footer.mb20 Телефон
                a(href="tel: +7 (495) 021-99-44").page__text_vsm_footer.link.mb40 +7 (495) 021-99-44
                p.page__text_sm_footer.mb20.mt40 Время работы
                .col
                    a(href="tel: +7 (495) 021-99-44").page__text_vsm_footer.link ПН-ПТ с 09:00  по 21:00
                    a(href="tel: +7 (495) 021-99-44").page__text_vsm_footer.link.mt5 СБ-ВС с 10:00  ло 20:00
            