footer.footer
    .wrapper
        .footer-wrapper
            .left
                .logo
                    a(href="../")
                        .page__img
                            img(src="assets/img/logo-2.svg", alt="")
                p.page__text_vsm Сертифицированный сервисный центр Москва
            .mid
                p.page__text_else-m Контакты
                a(href="tel: 8 (999) 999-99-99").page__text_vsm 8 (999) 999-99-99
                a(href="#").page__text_vsm Вконтакте
            .right
                a(href="#").page__text_else-m Политика конфеденциальности
            