section.guarantee-check
    .wrapper
        .guarantee-check-wrapper
            a.page__text_sm.open-modal(data-modal="modal") ПРОВЕРКА ГАРАНТИИ

            .page__img
                img(src="assets/img/arrow.svg", alt="")

