section.guarantee-check
    .wrapper
        .guarantee-check-wrapper
            button.page__text_sm.open-modal#button(data-modal="modal") ПРОВЕРКА ГАРАНТИИ
            .page__img
                img(src="assets/img/arrow.svg", alt="")

