section.guarantee-check
    .wrapper
        .guarantee-check-wrapper
            button.page__text_sm.js-open-modal(data-modal="1") ПРОВЕРКА ГАРАНТИИ
            .page__img
                img(src="assets/img/arrow.svg", alt="")

