header.header
    .wrapper
        .header-wrapper
            .left
                .logo
                    a(href="../")
                        .page__img
                            img(src="assets/img/logo.svg", alt="")
                .price
                    a(href="#").page__text Услуги и цены
                    .price-hover
                        a(href="#")
                            p.page__text_sm Ремонт ноутбуков
                        a(href="#")
                            p.page__text_sm Ремонт мониторов
                        a(href="#")
                            p.page__text_sm Ремонт ПК
                        a(href="#")
                            p.page__text_sm Ремонт моноблоков
                .delivery
                    a(href="pageDelivery/pageDelivery.html").page__text Доставка
                .Guarantee
                    a(href="#").page__text Гарантия
                .contacts
                    a(href="#").page__text Контакты
            .right
                a(href="tel: +7 (999) 999-99-99").page__text 8 (999) 999-99-99
