header.header
    .wrapper
        .header-mob
            .left-side
                .logo
                    a(href="../")
                        .page__img
                            img(src="assets/img/logo.svg", alt="")
            .right-side
                .burger
                    button(type="button" onclick="openBlock()")#burgerBtn.icon
                        span
                        span
                        span
                        span
                    #other.other
                        .inner
                            .wrapper
                                .nav-center
                                    .page__link
                                        a(href="pagePrice/pagePrice.html") Ремонт ноутбуков
                                    .page__link
                                        a(href="pagePriceMonitor/pagePriceMonitor.html") Ремонт мониторов
                                    .page__link
                                        a(href="pagePk/pagePk.html") Ремонт ПК
                                    .page__link
                                        a(href="pagePriceMonoblok/pagePriceMonoblok.html") Ремонт моноблоков
                                    .page__link
                                        a(href="pageAbout/pageAbout.html") О нас
                                    .page__link
                                        a(href="pageDelivery/pageDelivery.html") Доставка
                                    .page__link
                                        a(href="pageGuarantee/pageGuarantee.html") Гарантия
                                    .page__link
                                        a(href="pageContacts/pageContacts.html") Контакты
                                    .page__link.moreb
                                        a(href="tel: +7 (999) 999-99-99") +7 (999) 999-99-99
        .header-wrapper
            .left
                .logo
                    a(href="../")
                        .page__img
                            img(src="assets/img/logo.svg", alt="")
                .price
                    a(href="pagePrice/pagePrice.html").page__text Услуги и цены
                    .price-hover
                        a(href="pagePrice/pagePrice.html")
                            p.page__text_sm-h Ремонт ноутбуков
                        a(href="pagePriceMonitor/pagePriceMonitor.html")
                            p.page__text_sm-h Ремонт мониторов
                        a(href="pagePk/pagePk.html")
                            p.page__text_sm-h Ремонт ПК
                        a(href="pagePriceMonoblok/pagePriceMonoblok.html")
                            p.page__text_sm-h Ремонт моноблоков
                .about
                    a(href="pageAbout/pageAbout.html").page__text О нас
                .delivery
                    a(href="pageDelivery/pageDelivery.html").page__text Доставка
                .Guarantee
                    a(href="pageGuarantee/pageGuarantee.html").page__text Гарантия
                .contacts
                    a(href="pageContacts/pageContacts.html").page__text Контакты
                
            .right
                a(href="tel: +7 (999) 999-99-99").page__text +7 (999) 999-99-99
