.modal#modal(data-modal="modal")
    .modal__in.modal-container
        .modalToggles
            button.close
                .page__img
                    img(src="assets/img/krestik.svg", alt="" data-modal="modal").close-modal